@import "colors.css";

/* Set global defaults */
:root,
* {
	font-family: "JetBrainsMono", monospace;
	margin: 0;
	padding: 0;

	background: inherit;
	color: inherit;
	text-shadow: 0.15em 0.1em 0 var(--color-bg7);

	scrollbar-width: none;
	scrollbar-gutter: none;

	outline: none;
	box-sizing: border-box;
}

/* Elements */

html,
body {
	width: 100%;
	height: 100%;
	background: var(--color-bg7);
	color: var(--color-tx1);

	overflow: hidden;
}

h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 1.75rem;
}
h3 {
	font-size: 1.25rem;
}

p {
	font-size: 1rem;
}

i {
	color: var(--color-tx3);
	font-size: 1rem;
}

button {
	font-size: 1rem;
}

header {
	background: var(--color-bw5);
	border-bottom: var(--color-bw4) solid 2px;

	display: flex;
	flex-direction: row;
	align-items: center;
	vertical-align: baseline;
	padding: 1rem 2rem;
	gap: 1rem;
}

label {
	user-select: none;
}

input:where([type="text"], [type="password"], [type="number"]),
textarea {
	flex: 1 1;
	background: var(--color-bg6);
	border: var(--color-bg4) solid 2px;
	width: 100%;

	font-size: 1rem;
	padding: 0.5rem;
	caret-color: var(--color-tx1);

	resize: none;
}
input:where([type="text"], [type="password"], [type="number"]):hover,
textarea:hover {
	background: var(--color-bg5);
	border-color: var(--color-bg3);
}
input:where([type="text"], [type="password"], [type="number"]):focus,
textarea:focus {
	background: var(--color-bg6);
	border-color: var(--color-bg3);
}

input:where([type="radio"], ) {
	accent-color: var(--color-green4);
	cursor: pointer;
}

select {
	appearance: base-select;

	flex: 1 1;
	background: var(--color-bg7);
	border: var(--color-bg4) solid 2px;
	border-radius: 0;

	font-size: 1rem;
	padding: 0.5rem;
}
select::picker-icon {
	content: "v";
	transition: 50ms ease;
}
select:open::picker-icon {
	rotate: 180deg;
}

select::picker(select) {
	appearance: base-select;

	background: var(--color-bg6);
	border: none;

	display: flex;
	flex-direction: column;
	gap: 2px;

	font-size: 1rem;
	padding: 2px;
}
select:not(:open)::picker(select) {
	/* fix displaying when closed */
	display: none;
}

option {
	/* use outline instead of border for "border sharing" */
	background: var(--color-bg5);
	outline: var(--color-bg4) solid 2px;

	color: var(--color-tx1);

	padding: 0.5rem;
}
option:hover {
	background: var(--color-bg4);
	outline: var(--color-bg3) solid 2px;

	/* increase z-index from 0 to 1 to overlay this elem's outline over others */
	z-index: 1;

	box-shadow: 0 0 0.25rem var(--color-bg4);
}

option:not(:checked)::before {
	content: "[ ]";
}
option:checked::before {
	content: "[x]";
}
option::checkmark {
	display: none;
}

/* Classes */

.tx-i {
	font-style: italic;
}
.tx-b {
	font-weight: bold;
}

.tx-center {
	text-align: center;
}
.tx-left {
	text-align: left;
}

.row {
	flex-direction: row;
}
.col {
	flex-direction: column;
}

.m-center {
	justify-content: center;
}
.m-start {
	justify-content: start;
}
.m-end {
	justify-content: end;
}
.m-stretch {
	justify-content: stretch;
}
.m-around {
	justify-content: space-around;
}
.m-evenly {
	justify-content: space-evenly;
}

.x-center {
	align-items: center;
}
.x-start {
	align-items: start;
}
.x-end {
	align-items: end;
}
.x-stretch {
	align-items: stretch;
}

.s-center {
	align-self: center;
}
.s-start {
	align-self: start;
}
.s-end {
	align-self: end;
}
.s-stretch {
	align-self: stretch;
}

.g-1 {
	gap: 0.5rem;
}
.g-2 {
	gap: 1rem;
}
.g-4 {
	gap: 2rem;
}

.mrg-auto-left {
	margin-left: auto;
}
.mrg-auto-right {
	margin-right: auto;
}
.mrg-auto-top {
	margin-top: auto;
}
.mrg-auto-bottom {
	margin-bottom: auto;
}

.cnt {
	display: contents;
}

.flx {
	display: flex;
}

.flx-1 {
	flex: 1 1;
}

.flx-2 {
	flex: 2 2;
}

.flx-4 {
	flex: 4 4;
}

.box {
	background: var(--color-bg5);
	border: var(--color-bg4) solid 2px;

	padding: 0.5rem;
}
.box-inv {
	background: var(--color-bg6);
	border: var(--color-bg4) solid 2px;

	padding: 0.5rem;
}

.btn {
	background: var(--color-bg5);
	border: var(--color-bg4) solid 2px;

	padding: 0.5rem;

	text-decoration: none;
	user-select: none;
}
.btn:hover {
	background: var(--color-bg4);
	border-color: var(--color-bg3);
	cursor: pointer;

	box-shadow: 0 0 0.25rem var(--color-bg4);
}
.btn:active {
	background: var(--color-bg3);
	border-color: var(--color-bg2);
}
.btn:disabled {
	background: var(--color-bg6);
	border-color: var(--color-bg5);

	color: var(--color-tx3);

	cursor: inherit;
	box-shadow: none;
}

.clp {
	display: none;
}
.clp-chk {
	display: none;
}
:is(.clp-chk:checked, :has(.clp-chk:checked)) + .clp {
	display: flex;
}

.rad-btn {
	background: var(--color-bg5);
	border: var(--color-bg4) solid 2px;

	padding: 0.5rem;

	text-decoration: none;
	user-select: none;
}
.rad-btn:has(.rad-chk:checked),
.rad-btn:hover {
	background: var(--color-bg4);
	border-color: var(--color-bg3);

	cursor: pointer;
	box-shadow: 0 0 0.25rem var(--color-bg4);
}

.rad-btn::before {
	content: "[ ]";
}
.rad-btn:has(.rad-chk:checked)::before {
	content: "[x]";
}

.rad-chk {
	display: none;
}

/* Special IDs */

#title {
	flex-shrink: 0;
	margin-right: auto;

	display: flex;
	flex-direction: row;
	align-items: baseline;
}

#title-name {
	flex-shrink: 0;
}

#title-version {
	flex-shrink: 0;
	margin-left: 0.5em;
}
